{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Welcome to EasyAdmin 3' %}


{% block page_content %}

	<div class="container">

		<div class="row">

			<div class="col-6 alert-info">
				<span class="display-3"></span>utilisateurs
			</div>

			<div class="col-6 alert-sucess">
				<span class="display-3"></span>archives
			</div>

		</div>

	</div>
{% endblock %}
