<footer class="footer">
	<div class="container-fluid">
		<nav>
			<ul class="footer-menu">
				<li>
					<a href="#">
						facebook
					</a>
				</li>
				<li>
					<a href="#">
						twitter
					</a>
				</li>
				<li>
					<a href="#">
						youtube
					</a>
				</li>
				<li>
					<a href="#">
						instagram
					</a>
				</li>
			</ul>
			<p class="copyright text-center">
				©
				<script>
					document.write(new Date().getFullYear())
				</script>
				<a href="https://www.minpostel.gov.cm">MINPOSTEL</a>
			</p>
		</nav>
	</div>
</footer></div></div>
