<!-- Header Start -->

<header class="navigation">
	<div class="header-top ">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="span12 clearfix">
					<div class="top-menu"></div>

					<!-- LANGUAGE SWITCHER -->
					<div class="languageswitcherload">
						<div class="mod-languages">

							<ul class="lang-inline">
								<li class="lang-active" dir="ltr">
									<a href="">
										Français
									</a>
								</li>
								<li dir="ltr">
									<a href="">
										English
									</a>
								</li>
							</ul>

						</div>

					</div>
					<!-- //LANGUAGE SWITCHER -->
				</div>


			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg  py-4" id="navbar">
		<div class="container">
			<a class="navbar-brand" href="index.html">
				Mpt<span>Data.</span>
			</a>

			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fa fa-bars"></span>
			</button>

			<div class="collapse navbar-collapse text-center" id="navbarsExample09">
				<ul class="navbar-nav ml-auto"></ul>

				<form class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
					<a href="contact.html" class="btn btn-solid-border btn-round-full">HOME</a>
				</form>
			</div>
		</div>
	</nav>
</header>

<!-- Header Close -->
